@inject SignInManager<ApplicationUser> signInManager

@if (signInManager.IsSignedIn(User))
{
    <li>
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Sveiki, @userManager.GetUserAsync(User).Result.Name!</a>
    </li>
    <li>
        <form class="form-inline" asp-action="Logout" asp-controller="Authorization" asp-route-returnUrl="@Url.Action("Index", "Home")">
            <button type="submit" class="btn btn-link">Atsijungti</button>
        </form>
    </li>
}
else
{
    <li>
        <a class="nav-link" asp-action="Login" asp-controller="Authorization">Prisijungimas</a>
    </li>
    <li>
        <a class="nav-link" asp-action="Registration" asp-controller="Authorization">Registracija</a>
    </li>
}