@{
    ViewBag.Title = "Negalima prieiga";
    Layout = "";
}

<!DOCTYPE html>
<html lang="lt">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
    <link href="~/css/site.css" rel="stylesheet"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dentmedic - @ViewBag.Title</title>
</head>
    <body class="site-content html">
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Dentmedic</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </header>

        <div class="text-center">
            <h2>Negalima prieiga</h2>
            <p>Bandote pasiekti puslapį kurio prieiga jums negalima. <a asp-action="Index">Eiti į pagrindinį puslapį</a></p>
        </div>
    </body>
</html>