* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: #555;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    font-size: 20px;
}

.top-margin {
    margin-top: 40px;
}

.inline {
    display: inline
}

.list-button {
    padding: 0 0 15px;
}

.flex-space-evenly {
    display: flex;
    justify-content: space-evenly;
}

.big-icon {
    font-size: 1.4em
}

.black-white-photo {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}